{
  "extends": [
    "airbnb",
    "airbnb/hooks"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react/jsx-uses-react": 1,
    "react/jsx-props-no-spreading": 0,
    "linebreak-style": 0,
    "no-shadow": "off",
    "no-param-reassign": "off",
    "import/prefer-default-export": "off",
    "import/no-default-export": 2,
    "import/extensions": [
      2,
      {
        "js": "never",
        "jsx": "never",
        "json": "never"
      }
    ],
    "implicit-arrow-linebreak": 0,
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ],
    "no-mixed-operators": "off",
    "no-confusing-arrow": "off",
    "no-bitwise": "off",
    "function-paren-newline": "off",
    "object-curly-newline": "off",
    "arrow-parens": "off",
    "no-underscore-dangle": "off",
    "jsx-a11y/interactive-supports-focus": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "jsx-a11y/anchor-is-valid": 0,
    "jsx-a11y/label-has-associated-control": 0,
    "react-hooks/exhaustive-deps": 0,
    "react/prop-types": 0,
    "max-len": [
      1,
      {
        "ignoreComments": true,
        "code": 200,
        "tabWidth": 4
      }
    ],
    "react/jsx-filename-extension": [2, { "extensions": [".js", ".jsx", ".ts", ".tsx"] }]
  },
  "globals": {
    "react": true
  },
  "env": {
    "es6": true,
    "browser": true
  },
  "settings": {
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      // use <root>/tsconfig.json
      "typescript": {
        "alwaysTryTypes": true, // always try to resolve types under `<root>@types` directory even it doesn't contain any source code, like `@types/unist`
        "project": "tsconfig.json"
      }
    }
  }
}
