$primary-color: #112543;
$secondary-color: #F27749;
$background-color: $primary-color;

// text color.
$text-color-white: #fff;
$text-color-black: #000;

// button color.
$button-color-action: $secondary-color;
$button-color-normal: #000;
